<app-navbar></app-navbar>

<main class="dashboard-page">
  <aside class="sidebar">
    <h3>Panel</h3>
    <a [class.active]="filtroActual === 'todas'" (click)="filtrarSolicitudes('todas')">
      Dashboard
    </a>

    <a [class.active]="filtroActual === 'pendientes'" (click)="filtrarSolicitudes('pendientes')">
      Aprobar solicitudes
    </a>

    <a [class.active]="filtroActual === 'observadas'" (click)="filtrarSolicitudes('observadas')">
      Solicitudes observadas
    </a>

    <a [class.active]="filtroActual === 'aprobadas'" (click)="filtrarSolicitudes('aprobadas')">
      Solicitudes aprobadas
    </a>
    <a (click)="cerrarSesion()">Cerrar sesión</a>
  </aside>

  <section class="content">
    <h1>{{ obtenerTituloDashboard() }}</h1>
    <p>{{ obtenerSubtituloDashboard() }}</p>

    <div class="stats">
      <div class="stat-card">
        <span>📋</span>
        <div>
          <p>Pendientes</p>
          <strong>{{ contarPorEstado('En revisión') }}</strong>
        </div>
      </div>

      <div class="stat-card">
        <span>✅</span>
        <div>
          <p>Aprobadas</p>
          <strong>{{ contarPorEstado('Aprobado') }}</strong>
        </div>
      </div>

      <div class="stat-card">
        <span>⚠️</span>
        <div>
          <p>Observadas</p>
          <strong>{{ contarPorEstado('Observado') }}</strong>
        </div>
      </div>

      <div class="stat-card">
        <span>📊</span>
        <div>
          <p>Total</p>
          <strong>{{ totalSolicitudes() }}</strong>
        </div>
      </div>
    </div>

    <div class="table-card">
      <h3>Solicitudes recientes</h3>

      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Estudiante</th>
            <th>Grado</th>
            <th>Institución</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let solicitud of obtenerSolicitudesFiltradas()">
            <td>{{ solicitud.codigo }}</td>
            <td>{{ solicitud.nombreEstudiante }}</td>
            <td>{{ solicitud.grado }}</td>
            <td>{{ solicitud.institucion }}</td>
            <td>{{ solicitud.fechaRegistro }}</td>
            
            <td>
              <span class="estado" [ngClass]="{
                'revision': solicitud.estado === 'En revisión',
                'aprobado': solicitud.estado === 'Aprobado',
                'observado': solicitud.estado === 'Observado'
              }">
                {{ solicitud.estado }}
              </span>
            </td>
            <td>
              <div class="acciones">
                <button (click)="verSolicitud(solicitud)">Ver</button>

                <button class="btn-aprobar" *ngIf="solicitud.estado === 'En revisión'"
                  (click)="aprobarSolicitud(solicitud)">
                  Aprobar
                </button>

                <button class="btn-observar" *ngIf="solicitud.estado === 'En revisión'"
                  (click)="observarSolicitud(solicitud)">
                  Observar
                </button>

                <button class="btn-eliminar" (click)="eliminarSolicitud(solicitud)">
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>

<app-footer></app-footer>